---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "bootstrap";
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

/* Custom, iPhone Retina */
@media only screen and (min-width:1px) {

  .text-home {
    h1,h2,h3,h4,h5,h6,p,span,label {
    font-family: 'Lato', sans-serif;
    }
  }

  section.email-form {
    background: url('/assets/images/rubyConf_background.png');
    
    h1,h2,h3,h4,h5,h6,p,span,label {
    color: #FFFFFF;
    }

    h1 {
      &.title1 {
        font-weight: 100;
        margin: 0px;
      }

      &.title2 {
        font-weight: 300;
        margin: 0px;
      }

      &.title1,
      &.title2 {
        font-size: 25px;
      }
      &.title3,
      &.title4,
      &.title5 {
        font-weight: 300;
        font-size: 14px;
        word-spacing: 2px;
      }
      &.title4 {
        font-size: 24px;
        font-weight: 900;
      }
      &.title5 {
        font-size: 20px;
        line-height: 1;
        margin: 0px;
      }
    }
    .logo {
      padding-top: 20px;
      img {
        max-width: 250px;
      }
    }
    .fa-stack {
      transition: all 0.2s ease-out 0s, border 0.2s ease-out 0s;
      &:hover {
        opacity: 0.9;
      }
    }
    .icons-mob {
      margin-bottom: 20px;
      .fa-twitter,
      .fa-facebook {
        color: #A9001F;
      }
    }
    .social-links {
      position: absolute;
      top: 25%;
      right: 3%;
      a {
        display: block;
      }
      .fa-twitter,
      .fa-facebook {
        color: #670001;
      }
      .twitter-link {
        padding-top: 15px;
      }
    }
    .cfp {
      padding-bottom: 65px;
      a {
        color: #FFFFFF;
      }
    }
    .principal-copy {
      padding: 20px 0px 40px 0px;
    }
    .list-inline {
      h4 {
        font-weight: 900;
        font-size: 36px;
      }
      span {
        font-weight: 300;
      }
    }
    .event-date {
      margin: 20px 0px 30px 0px;
    }
    label {
      margin-bottom: 10px;
      font-weight: 300;
    }
    input {
      font-family: "Lato",sans-serif;
      background: transparent;
      border: 1px solid #FFF;
      margin-bottom: 15px;
      color: #FFF;
      height: 55px;
    }
    input::-webkit-input-placeholder {
      color: #fff;
    }
    input:-moz-placeholder {
      color: #fff;
    }
    input::-moz-placeholder {
      color: #fff;
    }
    input:-ms-input-placeholder {
      color: #fff;
    }
    #mc-embedded-subscribe {
      -webkit-transition: all 0.2s ease-out 0s, border 0.2s ease-out;
      -moz-transition: all 0.2s ease-out 0s, border 0.2s ease-out;
      -ms-transition: all 0.2s ease-out 0s, border 0.2s ease-out;
      -o-transition: all 0.2s ease-out 0s, border 0.2s ease-out;
      transition: all 0.2s ease-out 0s, border 0.2s ease-out;
      background: url('/assets/images/paper_plane.png') no-repeat scroll 50% 50%;
      color: transparent;
      height: 55px;
      padding: 0px;
      border: none;
      opacity: 0.9;
      position: absolute;
      right: 15px;
      bottom: 0px;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .info-home {
    background: transparent url("/assets/images/white_background.jpg") repeat scroll 0% 0%;
    padding: 70px 15px;
    h4,a {
      color: #A20015;
      font-weight: 600;
    }
    h4 {
      margin: 50px 0px;
    }
    .show-pdf {
      color: #000;
      padding-top: 10px;
      padding-bottom: 40px;
    }
    .fa-file-pdf-o:hover {
      color: #969696;
    }
  }
  .fa-file-pdf-o {
    color: #fff;
    &.active,
    &:hover {
      color: #fff;
    }
  }
  .show-pdf {
    margin-bottom: 0px;
  }

  .nav-bar-home {
    margin-bottom: 0px;
    background: transparent url("/assets/images/white_background.jpg") repeat scroll 0% 0%;
    &.navbar-default .navbar-nav li {
      a {
        color: #000;
        &:hover {
          color: #A60010;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  section.email-form {
    h1 {
      &.title1,
      &.title2 {
        font-size: 36px;
      }
    }
    .logo {
      img {
        max-width: 350px;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

