.btn{
  background-color: transparent;
  border: 2px solid transparent;
  border-radius:  $border-radius-base;
  display: inline-block;
  line-height: 48px;
  padding: 0 30px;
  min-width: 160px;
  text-align: center;
}

.btn--default{
  border-color: $color-white;
  color: $color-white;
  &:hover{
    background-color: $color-white; 
    color: $color-red;
  }
}


.btn--alternative{
  border-color: $color-red;
  color: $color-red;
  &:hover{
    background-color: $color-red; 
    color: $color-white;
  }
}

.btn--large{
  font-size: 1.5555555556rem;
  line-height: 68px;
}

.btn--container{
  .btn{
    min-width: 260px;
    & + .btn{
      margin-left: 1rem;
    }
    @media (max-width: 600px){
      display: block;
      margin: 0 auto 1rem;
      width: 75%;
      & + .btn{
        margin: 0 auto;;
      }
    }
  }
}
.info-link {
  font-weight: bold;
  text-decoration: underline;
}
.info-link:hover {
  text-decoration: none;
}
