@font-face {
  font-family: 'rubyconf';
  src: url('fonts/rubyconf.eot');
}
@font-face {
  font-family: 'rubyconf';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAy8AAAC8AAAAYGNtYXAaVcxcAAABHAAAAExnYXNwAAAAEAAAAWgAAAAIZ2x5ZlSrROYAAAFwAAAKZGhlYWQi6uo1AAAL1AAAADZoaGVhJPghHQAADAwAAAAkaG10eD3GAAcAAAwwAAAAKGxvY2EIdAQUAAAMWAAAABZtYXhwACMCngAADHAAAAAgbmFtZeiw/Q0AAAyQAAABTnBvc3QAAwAAAAAN4AAAACAAAwQAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmBQPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEADgAAAAKAAgAAgACAAEAIOYF//3//wAAAAAAIOYA//3//wAB/+MaBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAA/8AHWAPAAAcAAAkBMwEHCQEnBw/8eUn8eEkDrAOsSQPA/G0Dk0j8SAO4SAAACAAG/+khNQOxABcAHAAzAEsAXQB0AIMAkgAAASEiJicmNjcTPgEzITIWFxMeAQcOASMxJSEnIQcBIiYnASY0NzYyFwkBNjIXFhQHAQ4BIzkBIiYnAyY2NzYWFxMBPgEXHgEHAQ4BIwEiJicDJjY3NhYXExYGBw4BIzEiJicmNDcBNjIXARYGBwYmJwkBDgEjBSEiJjU0NjMhMhYVFAYjKQEiJjU0NjMhMhYVFAYjEuH7NAgOBAQBBcgEDQcDPAcOBMgEAQQDDwj7bARcoPzkoAIuBQsF/ZoICAkZCAJRAlEJGQgJCf2aBAsGCA8E2gUJCwsXBb8BgwUXCwwIBf5iAw8J/uoJDwOIBQkLCxcGhwUJCwMGAwYKBQkIARcIGwgBFgkBCQkYCf7//v8ECwYRnfapFR4eFQlXFR4eFeiO9qkVHh4VCVcVHh4VAkwJBwcRBwEoBwcHB/7YBxEHBwk87e39YQUEAmMJGAkJCf2yAk4JCQkYCf2dBAUKCAHeCxcFBgkL/l0DUAsJBQUXDPx1CAoCYwoIASgMFwUFCQv+1wsXBQECBAQJGQkBKAkJ/tgJGQkIAQkBEf7vBQW7HhUVHh4VFR4eFRUeHhUVHgAAAAABAAD/wQPnA8AAUwAAExQeAhcWNj0BBiYxLgExJjYxHgExFjY3PgE3LgM1NDY3LgE3MBYXPgEzMhYXPgExFgYHHgEVFA4CBx4BHQEUFjc+AzU0LgIjIg4CFQAzW31LEw5oQBEnIiYlJyJaFgMSCypSQCgbGAQLFEJIHj8gID8eR0IVDAQYHChBUioOFQ4TSn5bMk6ItmdotodPAbNXnoJhGgQTCmIYVi0gGAgDNDwHChkjCgUaOWBLK0cbCks2AzMJCQkJMwM2SwobRytLYDkaBQwwJZAKEwQaYYKeV22/jlNTjr9tAAAAAgAA/8UD+wPAABUARgAAASIOAhUUHgIzMj4CNTQuAiMxARYOAiMiJicWNjciJicWNjcuATceARcuATceARcmNjMyFhc+ATcOAQc+ATcOAQcxAf5quopQUIq6amm6ilBQirppAQADK1aAUjJcJy9bJSc8DA4bDSs1AQwbDygUFyx+Sg1HORktEBQmEQcbEhIiEAweEQPAUIq6amm6ilBQirpparqKUP5aPn5kQBwaBhkeLiQDAQQIRCkHBwEbWyg2QgM3WhQSBA8KFSELAgkHER8NAAACAAD/xQP7A8AAFQAqAAABIg4CFRQeAjMyPgI1NC4CIzETIyIGHQEzByMRIxEjNTM1NDY7ARUB/mq6ilBQirpqabqKUFCKummXSBMLZgpchERERUlcA8BQirpqabqKUFCKumlquopQ/tQREz9u/rYBSHBYPkBzAAAYAAH/xAcBA8AAEQAWADQAPgBdAHMAfQCHAKMAygDYAOYBBQElATIBWQFnAXUBzQKLAo8CkwKXApsAACUhIiY1ETQ2MyEyFhURFAYjMSUhESERNzQ2OwEyFhUUBgcXFgYrASImMScjFRQGKwEiJj0BFzI2NTQmKwEVMzc0NjsBMhYdARQWMzI2PQE0NjsBMhYdARQGIyImPQEzNDY7ATIWFRQGBx4BFRQGKwEiJj0BFzI2NTQmKwEVMxcyNjU0JisBFTM3JyY2OwEyFjEXNzA2OwEyFg8BFRQGKwEiJj0BNzIWFxYUDwEGIicuASMiBhUUFjMyNjc2FjMXFhQHDgEjIiY1NDYzMzIWFRQGIyImNTQ2MzEVMjY1NCYjIgYVFBYzMTc0NjsBFzM1NDY7ATIWHQEUBisBJyMVFAYrASImPQEXNDY7ATIWHQEUBisBFTMyFh0BFAYrARUUBisBIiY9ARcyFhUUBiMiJjU0NjM3MhYXFhQPAQYiJy4BIyIGFRQWMzI2NzoBHwEWFAcOASMiJjU0NjMzMhYVFAYjIiY1NDYzMRUyNjU0JiMiBhUUFjMxBQc3IwcnIxcnIxMwMjEUFjMUMjEUMjEwMjEUMDMwFjE4ATMwMjEUMjM4ATMyFjMxMjYzMDIxMDI1OgExOAExMjQzOAE3OAEzOAE1MjA3MDY3OAE5AhMjATwBMTwBMTQmMTwBIzA0JzA0IzQwMQMwNDEiJjEiNCM0IjUiMCc4ATEiJiMwIjEiJiMhIgYjIjAjMAYxOAEjFCIxBiIHMAYxIgYxMAYxAzAiFTAGMRQGMTAUBzAUFTAGFTAUFTgBMRQwMRwBFTAyFTAUFzAUMRYUMRYwFTIUMRczJzMXMychOAExOAExMzI2NTQmKwE3FyMiBhUUFjsBBzM3MDYxNDI1MDY1MDYxNDY1MDQxPAE1MDI1MCI5ASUFJyEFNxcjISUXISUnIQcG6/ktCg0NCgbTCQ0NCflDBqf5WY8CAj0SGhENHAECAxsBAhsOAwEYAgI+BgkJBh4eSAMBGQICDgsLDwICGQEDIhkYIpYCATASGhEHCBQbEjICAi8GCQkGEBADBgkLBhETZC0BAgIbAQIdHAIBGwICAS4CAhgBA6APGAoCAQkBAwIHEgoWHR0WDBAHAgIBCgEBCxkOHysrH40fKysfHyoqHxYfHxYWHx8WZwICBVgBAgENAgICAgVYAQICDAICngICUgECAgFBNwECAgE3AgINAgJ4CAwMCAcMDAdlEBcLAQEQAQMBBg4IERcXEgcOBgEDARABAQsZDh4rKx6JHisrHh8rKx8RGBgRERgYEf48dTowV1YxO3Y66wEBAQEBAQEBAQEBAQEBAgEBAwEBAQEBAQEBAQEBAQHsOwG+AQEBAcoBAQEBAgEBAQEBAQICAfy/AgIBAQECAQEBAQEBAQEByQEBAQEBAQEBAQEqOiP5ETARAkRFCQ0NCSNSlmUJDQ0JYiM7KQEBAQEBAQH9WP7/VgFX/eyWUugBSgEI5P4UAh3bAS9U3g0JAWAJDQ0J/qAJDSwBNP7M3AEDGhIOFgU0AgQCNjQBAwMBhzkKBgcJIDkBAwMBUwoPDwpTAQMDAVQXIiIXVAEDFhAMEAQEDw4SFgMBhzYIBwYHHDgJBgYIHShEAgQCKioCBAJEQQEDAwFBTAoJAQQBCQEBBgggFRYfCAUCAQkCAwEKCiseHysrHx4rKx4fK34eFhYfHxYWHnoCAmZgAQMDAYkCAmljAQMDAYkCAQMDAQwBAi8DAQsCAjYBAwMBh2YMCAcMDAcIDGwKCQEEARABAQUFGRERGAUFARACAwEKCiseHysrHx4rKx4fK3IYEBEYGBEQGJyIiMvLiIj+7gEBAQEBAQEBAQEBAQEBAQEBEgHLAQIBAQEBAQEBAQEBAQEBAgEBAQEBAQEBAQEBAQIB/v8BAQEBAQEBAQEBAgEBAQIBAQIBAQEBAQEBMCgoKA0KCQ2/vw0JCg0oMAEBAQEBAQEBAQEBAgEB68jI1b+/zc0PxsYAAAABAAAAAQAAVCeJQ18PPPUACwQAAAAAANFLUtwAAAAA0UtS3AAA/8AhNQPAAAAACAACAAAAAAAAAAEAAAPA/8AAACFVAAD//SE1AAEAAAAAAAAAAAAAAAAAAAAKAAAAAAAAAAAAAAAAAgAAAAdVAAAhVQAGBAAAAAQAAAAEAAAABxwAAQAAAAAACgAUAB4ANgEeAZIB/AI4BTIAAAABAAAACgKcABgAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEAEAAAAAEAAAAAAAIADgBOAAEAAAAAAAMAEAAmAAEAAAAAAAQAEABcAAEAAAAAAAUAFgAQAAEAAAAAAAYACAA2AAEAAAAAAAoANABsAAMAAQQJAAEAEAAAAAMAAQQJAAIADgBOAAMAAQQJAAMAEAAmAAMAAQQJAAQAEABcAAMAAQQJAAUAFgAQAAMAAQQJAAYAEAA+AAMAAQQJAAoANABsAHIAdQBiAHkAYwBvAG4AZgBWAGUAcgBzAGkAbwBuACAAMQAuADAAcgB1AGIAeQBjAG8AbgBmcnVieWNvbmYAcgB1AGIAeQBjAG8AbgBmAFIAZQBnAHUAbABhAHIAcgB1AGIAeQBjAG8AbgBmAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'rubyconf';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e600";
}

.icon-ruby-lines:before {
  content: "\e601";
}

.icon-github:before {
  content: "\e602";
}

.icon-twitter:before {
  content: "\e603";
}

.icon-facebook:before {
  content: "\e604";
}

.icon-logo:before {
  content: "\e605";
}

