%section.section.section-cfp#cfp
  %div
    .wrapper
      .text--center
        %h1.section__title Speak at RUBYCONF.CO 2015
        %i.icon.icon-ruby-lines.section__title-separator

      %p.section__description.text--center
        We are looking for talks of all levels - beginner, intermediate or advanced, and awesome non-technical talks that you think would appeal to engineers are also welcomed!
      %p.section__description.text--center
        Proposals will be accepted until Friday, 31st of July
      .text--center
        %a.btn.btn--alternative{:href => "http://cfp.rubyconf.co", :target => "_blank"} Submit Your Talk Here!
