%section.section.section-coc#coc
  %div
    .wrapper
      .text--center
        %h1.section__title CODE OF CONDUCT
        %i.icon.icon-ruby-lines.section__title-separator
        %p We dedicate ourselves to making everyone feel welcome and at home, both during the conference and events.
        %p Our Code of Conduct offers some guidelines to ensure this for both attendees and speakers.

        %br
        %button.btn.btn--alternative
          %a{:href => '/code_of_conduct.html'} Code of Conduct
