.text--center 
  %h1.section__title SCHEDULE
  %i.icon.icon-ruby-lines.section__title-separator
  
.grid
  .grid__item.palm--one-whole.lap--one-whole.one-half>
    %h2.schedule__title DAY1

    .grid.grid--full
      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 10:00 - 11:00
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description Registration & Breakfast

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 11:00 - 11:45     
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description Be Responsible foca
      
      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 11:45 - 12:15
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Confidently Building Complex Domains in Rails 
          %span.schedule__speaker Mike AbiEzzi

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 12:15 - 12:45
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Processing payments: YOU ARE DOING IT WRONG 
          %span.schedule__speaker Mariano Iglesias

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 12:45 - 14:00
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description.special LUNCH

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 14:00 - 14:30
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Secrets of a World Memory Champion
          %span.schedule__speaker Chris Hunt

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 14:30 - 15:00
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          One day and started writing SASS as an engineer 
          %span.schedule__speaker Noelia Cabane

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 15:00 - 15:30
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Modularizing your Front-End 
          %span.schedule__speaker Nicolas Barrera

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 15:30 - 16:00
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description.special BREAK

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 16:00 - 16:30
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          TCP Sockets programming in Ruby 
          %span.schedule__speaker Sebastian Sogamoso

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 16:30 - 17:00
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Just Enough Unix to Be Dangerous 
          %span.schedule__speaker Adrián Mugnolo


      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 17:00 - 17:30
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Don't feed the zombies! 
          %span.schedule__speaker Ernesto Tagwerker

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 17:30 - 18:00
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description.special BREAK

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 18:00 - 18:30
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Red pill vs blue pill - The journey of a bossless mind 
          %span.schedule__speaker Nicolás Cerrini

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 18:30 - 19:00
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          From work to passion 
          %span.schedule__speaker Santiago Pastorino

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 19:00 - 23:00
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          After party sponsored by 
          %span.schedule__speaker Citrusbyte

  
  .grid__item.palm--one-whole.lap--one-whole.one-half>
    %h2.schedule__title DAY 2
    .grid.grid--full
      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 10:00 - 11:00
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description Registration & Breakfast

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 11:00 - 11:30
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Super heroes and programming 
          %span.schedule__speaker Fernando Briano

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 11:30 - 12:00
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          It Takes a Village to Make a Programmer 
          %span.schedule__speaker Michele Guido

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 12:00 - 12:30
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description What’s Best for Our Users? Let Them Decide
      
      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 12:30 - 13:30
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description.special LUNCH

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 13:30 - 13:40
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description Neo's sponsor talk by Evan (Rabble) Henshaw-Plath

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 13:40 - 14:10
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          You Really Should Know a Little Bit of Clojure 
          %span.schedule__speaker Ben Orenstein

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 14:10 - 14:40
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Redis <3 at 8tracks.com 
          %span.schedule__speaker Netto Farah
      
      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 14:40 - 15:10
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Ruby through the crystal ball 
          %span.schedule__speaker Florian Gilcher

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 5:10 - 15:40
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description.special BREAK

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 15:40 - 16:10
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description Lightning talks

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 16:10 - 16:40
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Rubysts: stop fearing concurrency and embrace it once and for all! 
          %span.schedule__speaker Cristian Rasch

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 16:40 - 17:10
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          Better security for your rails applications 
          %span.schedule__speaker Najaf Ali

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 17:10 - 17:40
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description.special BREAK

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 17:40 - 18:40
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description 
          The Ruby Minimalist Counterculture 
          %span.schedule__speaker Michel Martens

      .grid__item.three-tenths.palm--one-third.lap--one-sixth>
        %span.schedule__time 20:00 - 23:30
      .grid__item.seven-tenths.palm--two-thirds.lap--five-sixths>
        %p.schedule__description After party sponsored by Neo at Bulevar
