%section.section.section-schedule#schedule
  %div
    .wrapper
      .text--center 
        %h1.section__title SCHEDULE
        %i.icon.icon-ruby-lines.section__title-separator
        
      .grid
        .grid__item.palm--one-whole.lap--one-whole.five-twelfths>
          %h2.schedule__title DAY1

          %div
            .schedule__time
              %span 10:00 - 11:00
            .schedule__description
              %p Registration & Breakfast

            .schedule__time
              %span 11:00 - 11:45     
            .schedule__description
              %p Be Responsible foca
            
            .schedule__time
              %span 11:45 - 12:15
            .schedule__description
              %p 
                Confidently Building Complex Domains in Rails 
                %span.schedule__speaker Mike AbiEzzi

            .schedule__time
              %span 12:15 - 12:45
            .schedule__description
              %p 
                Processing payments: YOU ARE DOING IT WRONG 
                %span.schedule__speaker Mariano Iglesias

            .schedule__time
              %span 12:45 - 14:00
            .schedule__description
              %p.special LUNCH

            .schedule__time
              %span 14:00 - 14:30
            .schedule__description
              %p 
                Secrets of a World Memory Champion
                %span.schedule__speaker Chris Hunt

            .schedule__time
              %span 14:30 - 15:00
            .schedule__description
              %p 
                One day and started writing SASS as an engineer 
                %span.schedule__speaker Noelia Cabane

            .schedule__time
              %span 15:00 - 15:30
            .schedule__description
              %p 
                Modularizing your Front-End 
                %span.schedule__speaker Nicolas Barrera

            .schedule__time
              %span 15:30 - 16:00
            .schedule__description
              %p.special BREAK

            .schedule__time
              %span 16:00 - 16:30
            .schedule__description
              %p 
                TCP Sockets programming in Ruby 
                %span.schedule__speaker Sebastian Sogamoso

            .schedule__time
              %span 16:30 - 17:00
            .schedule__description
              %p 
                Just Enough Unix to Be Dangerous 
                %span.schedule__speaker Adrián Mugnolo


            .schedule__time
              %span 17:00 - 17:30
            .schedule__description
              %p 
                Don't feed the zombies! 
                %span.schedule__speaker Ernesto Tagwerker

            .schedule__time
              %span 17:30 - 18:00
            .schedule__description
              %p.special BREAK

            .schedule__time
              %span 18:00 - 18:30
            .schedule__description
              %p 
                Red pill vs blue pill - The journey of a bossless mind 
                %span.schedule__speaker Nicolás Cerrini

            .schedule__time
              %span 18:30 - 19:00
            .schedule__description
              %p 
                From work to passion 
                %span.schedule__speaker Santiago Pastorino

            .schedule__time
              %span 19:00 - 23:00
            .schedule__description
              %p 
                After party sponsored by 
                %span.schedule__speaker Citrusbyte

        
        .grid__item.palm--one-whole.lap--one-whole.five-twelfths.push--two-twelfths>
          %h2.schedule__title DAY 2
          %div
            .schedule__time
              %span 10:00 - 11:00
            .schedule__description
              %p Registration & Breakfast

            .schedule__time
              %span 11:00 - 11:30
            .schedule__description
              %p 
                Super heroes and programming 
                %span.schedule__speaker Fernando Briano

            .schedule__time
              %span 11:30 - 12:00
            .schedule__description
              %p 
                It Takes a Village to Make a Programmer 
                %span.schedule__speaker Michele Guido

            .schedule__time
              %span 12:00 - 12:30
            .schedule__description
              %p What’s Best for Our Users? Let Them Decide
            
            .schedule__time
              %span 12:30 - 13:30
            .schedule__description
              %p.special LUNCH

            .schedule__time
              %span 13:30 - 13:40
            .schedule__description
              %p Neo's sponsor talk by Evan (Rabble) Henshaw-Plath

            .schedule__time
              %span 13:40 - 14:10
            .schedule__description
              %p 
                You Really Should Know a Little Bit of Clojure 
                %span.schedule__speaker Ben Orenstein

            .schedule__time
              %span 14:10 - 14:40
            .schedule__description
              %p 
                Redis <3 at 8tracks.com 
                %span.schedule__speaker Netto Farah
            
            .schedule__time
              %span 14:40 - 15:10
            .schedule__description
              %p 
                Ruby through the crystal ball 
                %span.schedule__speaker Florian Gilcher

            .schedule__time
              %span 5:10 - 15:40
            .schedule__description
              %p.special BREAK

            .schedule__time
              %span 15:40 - 16:10
            .schedule__description
              %p Lightning talks

            .schedule__time
              %span 16:10 - 16:40
            .schedule__description
              %p 
                Rubysts: stop fearing concurrency and embrace it once and for all! 
                %span.schedule__speaker Cristian Rasch

            .schedule__time
              %span 16:40 - 17:10
            .schedule__description
              %p 
                Better security for your rails applications 
                %span.schedule__speaker Najaf Ali

            .schedule__time
              %span 17:10 - 17:40
            .schedule__description
              %p.special BREAK

            .schedule__time
              %span 17:40 - 18:40
            .schedule__description
              %p 
                The Ruby Minimalist Counterculture 
                %span.schedule__speaker Michel Martens

            .schedule__time
              %span 20:00 - 23:30
            .schedule__description
              %p After party sponsored by Neo at Bulevar
