%section.section.section-schedule#schedule
  %div
    .wrapper
      .text--center
        %h1.section__title SCHEDULE
        %i.icon.icon-ruby-lines.section__title-separator

      .grid
        .grid__item.palm--one-whole.lap--one-whole.four-twelfths
        .grid__item.palm--one-whole.lap--one-whole.five-twelfths>
          %h2.schedule__title DAY 1 - FRIDAY, OCTOBER 16

          %div
            .schedule__time
              %span 7:30 - 8:20
            .schedule__description
              %p Registration

            .schedule__time
              %span 8:20 - 8:30
            .schedule__description
              %p Opening Remarks

            .schedule__time
              %span 8:30 - 9:15
            .schedule__description
              %p Matt Aimonetti

            .schedule__time
              %span 9:20 - 9:50
            .schedule__description
              %p
                There is no magic: Write your own HTTP server, and then stop.
                %span.schedule__speaker Ann Harter

            .schedule__time
              %span 9:55 - 10:25
            .schedule__description
              %p
                Queue Based Architectures with AMQP.
                %span.schedule__speaker Nicol&aacute;s Hock-Isaza

            .schedule__time
              %span 10:25 - 10:55
            .schedule__description
              %p.special BREAK

            .schedule__time
              %span 10:55 - 11:25
            .schedule__description
              %p
                Ruby + Voice Control.
                %span.schedule__speaker Jean Pierre

            .schedule__time
              %span 11:30 - 12:00
            .schedule__description
              %p
                How to talk to humans: what stuttering can teach you about connecting with people.
                %span.schedule__speaker Sharon Steed

            .schedule__time
              %span 12:05 - 12:35
            .schedule__description
              %p Sarah Mei

            .schedule__time
              %span 12:35 - 14:00
            .schedule__description
              %p.special LUNCH

            .schedule__time
              %span 14:00 - 14:30
            .schedule__description
              %p Sandy Metz

            .schedule__time
              %span 14:35 - 15:05
            .schedule__description
              %p
                Human error, mental models and simplicity.
                %span.schedule__speaker Michel Martens

            .schedule__time
              %span 15:10 - 15:40
            .schedule__description
              %p
                Supercomputing for Everyone featuring Ruby.
                %span.schedule__speaker Raymond T. Hightower

            .schedule__time
              %span 15:40 - 16:10
            .schedule__description
              %p.special BREAK

            .schedule__time
              %span 16:10 - 16:40
            .schedule__description
              %p Lightning Talks

            .schedule__time
              %span 16:45 - 17:15
            .schedule__description
              %p
                Escribiendo M&uacute;sica con Ruby.
                %span.schedule__speaker David Padilla

            .schedule__time
              %span 17:20 - 18:05
            .schedule__description
              %p  Steve Klabnik

            .schedule__time
              %span 18:05 - 18:15
            .schedule__description
              %p Closing Remarks
      %br
      %br
      %br
      .grid
        .grid__item.palm--one-whole.lap--one-whole.four-twelfths
        .grid__item.palm--one-whole.lap--one-whole.five-twelfths>
          %h2.schedule__title DAY 2 - SATURDAY, OCTOBER 17
      .grid
        .grid__item.palm--one-whole.lap--one-whole.twelve-twelfths>
          %table.schedule
            %thead
              %tr
                %th
                %th Track 1
                %th Track 2
                %th Track 3
            %tbody
              %tr
                %td
                  .schedule__time
                    %span 9:00 - 10:30
                %td
                  .schedule__description
                    %p
                      That robot has a little bit of Ruby (Spanish)
                    %span.schedule__speaker Adrian Catalan
                %td
                  .schedule__description
                    %p
                      Functional Programming with Ruby (Spanish)
                    %span.schedule__speaker Juan Pablo Santos
                %td
                  .schedule__description
                    %p
                      Create your first Volt app (Spanish)
                    %span.schedule__speaker Jose Añasco

              %tr
                %td
                  .schedule__time
                    %span 10:30 - 12:00
                %td
                  .schedule__description
                    %p
                      Painting Miniatures to Stay Fresh (English)
                    %span.schedule__speaker Caleb Thompson
                %td
                  .schedule__description
                    %p
                      Ruby and its superpowers (Spanish)
                    %span.schedule__speaker Kattya Cuevas
                %td
                  .schedule__description
                    %p
                      Web apps that work on the browser and in the console (Spanish)
                    %span.schedule__speaker Julian Vargas
     
              %tr
                %td.lunch{"colspan" => 4}
                  %p Lunch
     
              %tr
                %td
                  .schedule__time
                    %span 2:00 - 3:30
                %td
                  .schedule__description
                    %p
                      How to create web application with Ruby (without Rails) (Spanish)
                    %span.schedule__speaker David Padilla
                %td{"rowspan" => 2}
                  .schedule__description
                    %p
                      Portable Development Environments with Vagrant (Spanish)
                    %span.schedule__speaker Aquilardo Caricari
                %td{"rowspan" => 2}
                  .schedule__description
                    %p
                      React on Rails for Beginners (English)
                    %span.schedule__speaker Ratnadeep Deshmane
     
              %tr
                %td
                  .schedule__time
                    %span 3:30 - 5:00
                %td
                  .schedule__description
                    %p
                      Refactoring Workshop (Spanish)
                    %span.schedule__speaker Jonathan Andrés

          * workshops won't have an interpreter
