%section.section.section-speakers#speakers
  %div
    .wrapper.text--center
      .text--center
        %h1.section__title SPEAKERS
        %i.icon.icon-ruby-lines.section__title-separator

      %grid
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/coraline-ehmke.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/coralineada"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/coralineada"}
                  %i.icon.icon-github
            %p.speaker__name CORALINE EHMKE
            %p.speaker__job-title Speaker, mentor, feminist. Ruby Rogues panelist

        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/matt-aimonetti.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/mattetti"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/mattetti"}
                  %i.icon.icon-github
            %p.speaker__name MATT AIMONETTI
            %p.speaker__job-title Co-founder of Splice, formerly Sony PlayStation
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/sarah-mei.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/sarahmei"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/sarahmei"}
                  %i.icon.icon-github
            %p.speaker__name SARAH MEI
            %p.speaker__job-title Chief Consultant at DevMynd. Director at Ruby Central. RailsBridge founder

        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/steve-klabnik.jpeg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/steveklabnik"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/steveklabnik"}
                  %i.icon.icon-github
            %p.speaker__name STEVE KLABNIK
            %p.speaker__job-title Prolific open ource contributor. Rust core team
