%section.section.section-speakers#speakers
  %div
    .wrapper.text--center
      .text--center
        %h1.section__title SPEAKERS
        %i.icon.icon-ruby-lines.section__title-separator

      %grid
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/matt-aimonetti.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/mattetti"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/mattetti"}
                  %i.icon.icon-github
            %p.speaker__name MATT AIMONETTI
            %p.speaker__job-title Co-founder of Splice, formerly Sony PlayStation
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/sandimetz.jpeg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/sandimetz"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/skmetz"}
                  %i.icon.icon-github
            %p.speaker__name SANDI METZ
            %p.speaker__job-title
              Cyclist, Rubyist, reluctant author
              %a{ href: "http://poodr.com" }
                (http://poodr.com)
              obsessive programmer, recalcitrant blogger and the antidote for ambition.
        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/sarah-mei.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/sarahmei"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/sarahmei"}
                  %i.icon.icon-github
            %p.speaker__name SARAH MEI
            %p.speaker__job-title Chief Consultant at DevMynd. Director at Ruby Central. RailsBridge founder

        .grid__item.one-third.palm--one-whole.lap--one-half>
          .speaker
            .speaker__img
              = image_tag("speakers/steve-klabnik.jpg")
              .speaker__img--hover
                %a{:href => "https://twitter.com/steveklabnik"}
                  %i.icon.icon-twitter
                %a{:href => "https://github.com/steveklabnik"}
                  %i.icon.icon-github
            %p.speaker__name STEVE KLABNIK
            %p.speaker__job-title Prolific open source contributor. Rust core team
