%section.section.section-sponsors#sponsors
  %div
    .wrapper
      .text--center 
        %h1.section__title SPONSORS
        %i.icon.icon-ruby-lines.section__title-separator


        %div
          %p Interested in sponsoring RubyConf Colombia? Check out our <a href='https://drive.google.com/file/d/0B3YfVKb1r4nOc3daVmpzZWtzMTQ/view?usp=sharing' target='_blank' id='prospectus'>prospectus</a>.

        %br
        %br
        %br

      / .sponsor-category.text--center
      /   %h1.sponsor-category__title PLATINUM
      /   %div
          
      .sponsor-category.text--center
        %h1.sponsor-category__title GOLD
        %div
          = link_to "http://koombea.com/" do
            = image_tag "sponsors/koombea.jpg", :class => "sponsor-category__img"
        
      / .sponsor-category.text--center
      /   %h1.sponsor-category__title SILVER
      /  %div

      / .sponsor-category.text--center
      /   %h1.sponsor-category__title STARTUP
      /   %div

  
