%section.section.section-sponsors#sponsors
  %div
    .wrapper
      .text--center 
        %h1.section__title SPONSORS
        %i.icon.icon-ruby-lines.section__title-separator

      .sponsor-category.text--center
        %h1.sponsor-category__title PLATINUM
        %div

      .sponsor-category.text--center
        %h1.sponsor-category__title GOLD
        %div
          = image_tag "sponsors/koombea.jpg", :class => "sponsor-category__img"
        
      .sponsor-category.text--center
        %h1.sponsor-category__title SILVER
        %div

  
