%section.section.section-sponsors#sponsors
  %div
    .wrapper
      .text--center 
        %h1.section__title SPONSORS
        %i.icon.icon-ruby-lines.section__title-separator

        %button.btn.btn--alternative
          %a{:href => 'https://dl-web.dropbox.com/get/Documents/RubyConf%20Colombia/Prospectus.pdf?_subject_uid=14480271&w=AAAEfw9TSg9DfNJX8i_jsAAzHRdAzm60337iuYAqZ03C5A&dl=1', target: '_blank'} Prospectus

      / .sponsor-category.text--center
      /   %h1.sponsor-category__title PLATINUM
      /   %div
          

      .sponsor-category.text--center
        %h1.sponsor-category__title GOLD
        %div
          = link_to "http://koombea.com/" do
            = image_tag "sponsors/koombea.jpg", :class => "sponsor-category__img"
        
      / .sponsor-category.text--center
      /   %h1.sponsor-category__title SILVER
      /  %div

  
