%section.section#tickets
  %div
    .wrapper
      .text--center 
        %h1.section__title TICKETS
        %i.icon.icon-ruby-lines.section__title-separator

      %p.section__description.text--center 
        Join us October 15th & 16th, to be a part of the 
        %span Ruby conference
        where people from all around the world will come together to share their knowledge and to inspire others.

      .text--center
        %a.btn.btn--alternative{:href => ""} GET YOUR TICKETS
