.text--center 
  %h1.section__title VENUE
  %i.icon.icon-ruby-lines.section__title-separator

  %p.section__description.flush--bottom.large
    RAILSCONF.CO 2015 
    %span - HOTEL POBLADO PLAZA

  %p.section__description 
    %span SALÓN LAS CAYENAS · Carrera 51B No 79 - 67

  %p.section__description.short
    All the conference sessions will be held at the amazing Salón Cayena in the Poblado Plaza Hotel.

.btn--container.text--center
  %a.btn.btn--default{:href => ""} Show Map
  %a.btn.btn--default{:href => "code_of_conduct.html"} Citizen Code of Conduct