// Line Height
$font-size-base:    18px!default;
$line-height-base:  26px!default;

// Font Family
$baseFontFamily:             'roboto', sans-serif;
$alternativeFontFamily:      'open_sans', sans-serif;
$specialFontFamily:          'brandon_grotesque', sans-serif;

// Font Weight
$LightFontWeight:  300;
$RegularFontWeight:  400;
$MediumFontWeight:  500;
$BoldFontWeight:  700;

// Colors


$base-background-color:  #FFFFFF;
$color-white:            #FFFFFF;  
$color-purple:           #49476C;
$color-red:              #FF615C;
$color-red-dark:         #E24A45;
$color-gray:             #545355;
$color-gray-light:       #7F7F7F;
$color-gray-soft:        #6F6F6F;
$color-gray-secundary:   #636F70;
$color-gray-tertiary:    #9B9B9B;


// Spacing units
$base-spacing-unit:       $line-height-base!default;
$half-spacing-unit:       $base-spacing-unit / 2!default;
$double-spacing-unit:     $base-spacing-unit * 2!default;
$quadruple-spacing-unit:  $base-spacing-unit * 4!default;

$line-height-ratio:   $line-height-base / $font-size-base;


// Breakpoints
$palm-start:        320px!default;
$lap-start:         800px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1280px!default;

$screen: "only screen";
$gt-small: "only screen and (min-width: #{$palm-start})";
$gt-medium: "only screen and (min-width: #{$lap-start})";
$gt-large: "only screen and (min-width: #{$desk-start})";
$gt-extra-large: "only screen and (min-width: #{$desk-wide-start})";

$wrapper-size:        1180px!default;
$wrapper-size-small:  960px!default;



 $border-radius-base: 2px;

 $line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px


