%footer.footer
  .footer__top
    = image_tag("city.svg")
  .footer__bottom
    .wrapper
      = partial "shared/navigation"

      %p
        Brought to you by Ruby Central / Contact us at rubyconf@rubycentral.org / Follow us on:
        %a{:href => ""}
          %i.icon.icon-twitter
        %a{:href => ""}
          %i.icon.icon-facebook