.main-banner
  .main-banner__content
    .main-banner__header
      .wrapper
        = partial "shared/navigation"

    .main-banner__body
      .wrapper
        %h1.logo
          %a{:href => "/"}
            %i.icon.icon-logo

        %p.main-banner__title 
          DANCE WITH US, RUBYCONF COLOMBIA
        %p.main-banner__subtitle 
          MEDELLÃN, COLOMBIA 
          %b | MAY 5th & 6th, 2015

        %a.btn.btn--default.btn--large{:href => ""} GET YOUR TICKETS

    .main-banner__footer
      %a#form.js-scrollTo{:href =>"#", "data-scrollto" => "#form"}
        %i.icon.icon-arrow-down
