%ul.nav
  %li.nav__item
    %a{:href =>"/#top"} HOME
  %li.nav__item
    %a{:href => "/#registration"} REGISTRATION
  %li.nav__item
    %a{:href =>"/#venue"} VENUE
  %li.nav__item
    %a{:href =>"/#speakers"} SPEAKERS
  %li.nav__item
    %a{:href =>"/#tickets"} TICKETS
  %li.nav__item
    %a{:href =>"/#schedule"} SCHEDULE
  %li.nav__item
    %a{:href =>"/#sponsors"} SPONSORS