%ul.nav
  %li.nav__item
    %a{:href => ""} HOME
  %li.nav__item
    %a{:href => ""} VENUE
  %li.nav__item
    %a{:href => ""} SPEAKERS
  %li.nav__item
    %a{:href => ""} TICKETS
  %li.nav__item
    %a{:href => ""} SCHEDULE
  %li.nav__item
    %a{:href => ""} SPONSORS