.nav--slider-container.red
  %ul.nav.nav--slider
    %li.nav__item.current
      %a.js-scrollTo{:href =>"#", "data-scrollto" => "#top"}
    %li.nav__item
      %a.js-scrollTo{:href =>"#", "data-scrollto" => "#tickets"}
    %li.nav__item
      %a.js-scrollTo{:href =>"#", "data-scrollto" => "#cfp"}
    %li.nav__item
      %a.js-scrollTo{:href =>"#", "data-scrollto" => "#mailing-list"}
    %li.nav__item
      %a.js-scrollTo{:href =>"#", "data-scrollto" => "#speakers"}
    -#
      %li.nav__item
        %a.js-scrollTo{:href =>"#", "data-scrollto" => "#schedule"}
    -#
      %li.nav__item
        %a.js-scrollTo{:href =>"#", "data-scrollto" => "#venue"}
    %li.nav__item
      %a.js-scrollTo{:href =>"#", "data-scrollto" => "#coc"}
    %li.nav__item
      %a.js-scrollTo{:href =>"#", "data-scrollto" => "#sponsors"}
    %li.nav__item.nav__item--icon
      %a{:href => "https://www.facebook.com/RubyConfCo"}
        %i.icon.icon-facebook
    %li.nav__item.nav__item--icon
      %a{:href => "https://www.twitter.com/RubyConfCo"}
        %i.icon.icon-twitter
