%ul.nav
  %li.nav__item.current
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#top"} HOME
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#tickets"} TICKETS
  / %li.nav__item
  /   %a.js-scrollTo{:href =>"#", "data-scrollto" => "#cfp"} CFP
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#speakers"} SPEAKERS
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#schedule"} SCHEDULE
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#venue"} VENUE
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#coc"} CODE OF CONDUCT
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#sponsors"} SPONSORS
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#mailing-list"} MAILING LIST
  %li.nav__item
    %a{:href =>"/faq.html"} FAQ
