%ul.nav
  %li.nav__item
    %a{:href =>"/"} HOME
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#venue"} VENUE
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#speakers"} SPEAKERS
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#tickets"} TICKETS
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#schedule"} SCHEDULE
  %li.nav__item
    %a.js-scrollTo{:href =>"#", "data-scrollto" => "#sponsors"} SPONSORS