.nav{
  font-family: $specialFontFamily;
  font-weight: $MediumFontWeight;
  list-style: none;
  padding: 0;
  margin: 0;
  .nav__item{
    color: $color-white;
    display: inline-block;
    font-size: 0.8888888889rem;
    &.current{
      a{
        font-weight: $BoldFontWeight;
      }
    }
    & + .nav__item{
      margin-left: 45px;
      @media (max-width: 1024px){
        margin-left: 20px;
      }
    }
  }
}

.nav--slider-container{
  bottom: 0;
  display: table;
  height: 100%;
  position: fixed;
  right: 28px;
  text-align: center;
  top: 0;
  z-index: 100;
  @media (max-width: 1024px){
    right: 10px;
  }
  @media (max-width: 600px){
    display: none;
  }
  .nav--slider{
      display: table-cell;
      vertical-align: middle;
    .nav__item{
      display: block;
      &.current{
        a{
          background-color: $color-red;
          -webkit-transition: background-color 0.2s ease-in-out;
          -moz-transition: background-color 0.2s ease-in-out;
          -ms-transition: background-color 0.2s ease-in-out;
          -o-transition: background-color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out;
        }
      }
      & + .nav__item{
        margin-left: 0;
        margin-top: 1rem;
      }
      a{
        background-color: #DCDCDC;
        border-radius: 100%;
        display: block;
        height: 0.4444444444rem;
        margin: auto;
        padding: 0;
        width: 0.4444444444rem;
        -webkit-transition: background-color 0.2s ease-in-out;
        -moz-transition: background-color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out;
        -o-transition: background-color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out;
        .icon{
          color: #DCDCDC;
          font-size: 1.8888888889rem;
          -webkit-transition: color 0.2s ease-in-out;
          -moz-transition: color 0.2s ease-in-out;
          -ms-transition: color 0.2s ease-in-out;
          -o-transition: color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out;
        }
      }
    }
    .nav__item--icon{
      a{
        background-color: transparent;
        border-radius: 0;
        display: block;
        height: auto;
        line-height: 1;
        margin: auto;
        width: auto;
      }
    }
  }
  &.red{
    .nav--slider{
      .nav__item{
        &.current{
          a{
            background-color: #38355B;
          }
        }
        a{
          background-color: $color-white;
          .icon{
            color: $color-white;
          }
        }
      }
      .nav__item--icon{
        a{
          background-color: transparent;
        }
      }
    }
  }
  &.purple{
    .nav--slider{
      .nav__item{
        &.current{
          a{
            background-color: $color-red;
          }
        }
        a{
          background-color: $color-white;
          .icon{
            color: $color-white;
          }
        }
      }
      .nav__item--icon{
        a{
          background-color: transparent;
        }
      }
    }
  }
}

.nav-toggle { 
  display: none; position: fixed; right: 20px; top: 20px; z-index: 100;
  -ms-transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
}

@media (max-width: 600px ){
  .nav-toggle { display: block;}
}

.nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #DCDCDC;
  position: absolute;
  display: block;
  content: '';
}
.nav-toggle.red span, .nav-toggle.red span:before, .nav-toggle.red span:after {
  background: $color-white;
}
.nav-toggle.purple span, .nav-toggle.purple span:before, .nav-toggle.purple span:after {
  background: $color-red;
}
.nav-toggle span:before {
  top: -10px; 
}
.nav-toggle span:after {
  bottom: -10px;
}

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
.nav-toggle.active{
  -ms-transform: translateX(-220px); /* IE 9 */
  -webkit-transform: translateX(-220px); /* Chrome, Safari, Opera */
  transform: translateX(-220px);
}
.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  transform: rotate(45deg);
}
.nav-toggle.active span:after {
  transform: rotate(-45deg);
}




