table.schedule {
  border-spacing: 2px;
  border-collapse: separate;

  td {
    vertical-align: top;
    background: #F7F7F7;
    padding: 15px;
    border: 1px solid #D0D0D0;
  }

  td.lunch {
    text-align: center;
    vertical-align: center;
    text-transform: uppercase;
    background: #EFEFEF;
    font-weight: bold;
  }
}
