---
title: RubyConf Colombia
---
.section.section__accordion
  %div
    .wrapper
      %h1.accordion__title Ambassadors Program

      %div
        .accordion__header
          %h2.accordion__header--title Become an ambassador of RubyConf Colombia!
        .accordion__body
          %p We have created a program in order to reward you for being an active members of our community. This is a conference from the community for the community so we want to thank you for making this happen and we want to do it properly!

          %p These are the perks you can get by being an ambassador after getting 6 friends to buy tickets to the conference:

          %ul
            %li A free ticket for RubyConf Colombia 2015
            %li A tweet from <a href="http://twitter.com/RubyConfCo">@RubyConfCo</a> and a post on our Facebook page with a thank you note.

          %p Better yet, if you get 12 or more friends to buy tickets to the conference you will also be invited to our speaker dinner in which you will be able to meet our awesome speakers before the conference starts, dinner is on us!

        .accordion__header
          %h2.accordion__header--title So how can you become an ambassador?
        .accordion__body
          %ol
            %li Shoot us an email at <a href="mailto:organizers@rubyconf.co">organizers@rubyconf.co</a>. We will reply with a custom promo code that will give a 20% discount to your friends! The discount only applies for RubyConf Colombia tickets, not for Bundle tickets.
            %li Share the code with your friends and encourage as many as possible to buy tickets to the conference.
            %li Unlock your ambassador perk and enjoy!

        .accordion__header
          %h2.accordion__header--title Who can I invite?
        .accordion__body
          %p Your friends, coworkers, contacts and anyone who would love the conference!
          %p If you know of any meetups, mailing lists or communities that would be interested in attending the conference, tell us and we will see how to contact them together!
