---
title: RubyConf Colombia
---
.section.section__accordion
  %div
    .wrapper
      %h1.accordion__title Programa de Becas de Diversidad
      %div
        .accordion__body.diversity
          %p
            Uno de nuestros objetivos es promover la participación de grupos poco representados en tecnología, por lo tanto hemos destinado un
            %strong
              número limitado de entradas gratuitas
            para apoyar a las personas que pertenecen a estos grupos.

          %p 
            Si consideras que perteneces a uno te invitamos a que participes en nuestro programa de Becas de diversidad que tenemos para ti.  La convocatoria se cierra el día 
            %strong
              Jueves 24 de Septiembre del 2015
            , no lo dejes pasar!

          .diversity
            %button.btn.btn--alternative
              %a{:href => ' https://docs.google.com/forms/d/1OUq9bBpN5Noj-Y_EmhuaHjV_URaXcsZ9FMxsCX5e-Lo/viewform?usp=send_form', :target =>"_blank" } Inscribete aqui!

           La convocatoria se cierra el día Jueves 24 de Septiembre del 2015, no lo dejes pasar!