---
title: RubyConf Colombia - Code of Conduct
---
.section.section__accordion
  %div
    .wrapper
      .text--center
        %h1.section__title CODIGO DE CONDUCTA
        %i.icon.icon-ruby-lines.section__title-separator

      .js-accordion
        .accordion__header
          %h2.accordion__header--title 1. Propósito
        .accordion__body
          %p Uno de los objetivos principales de RubyConf Colombia es ser inclusiva para el mayor número de asistentes, con la mayor diversidad de orígenes posibles. Como tal, estamos comprometidos a proporcionar un ambiente agradable, seguro y acogedor para todos, independientemente de su sexo, orientación sexual, capacidad, etnia, nivel socioeconómico, y religión (o falta de la misma).

          %p Este código de conducta resume nuestras expectativas para todos los asistentes a la conferencia, así como las consecuencias para el comportamiento inaceptable.

          %p Invitamos a todos los que participan en RubyConf Colombia a que nos ayuden a crear experiencias seguras y positivas para todos.

        .accordion__header
          %h2.accordion__header--title 2. Ciudadanía de Software Libre
        .accordion__body
          %p Un objetivo adicional de este Código de Conducta es aumentar la ciudadanía de software libre mediante el fomento de los participantes a reconocer y fortalecer las relaciones entre nuestras acciones y sus efectos en nuestra conferencia.

          %p Las conferenciaes reflejan las sociedades en las que existen y la acción positiva es fundamental para contrarrestar las muchas formas de desigualdad y los abusos de poder que existen en la sociedad.

          %p Si ves a alguien que está haciendo un esfuerzo adicional y significativo para asegurar que nuestra conferencia sea acogedora, amable, y esta persona alienta a todos los participantes a que contribuyan en la mayor medida, nos gustaría saber.

        .accordion__header
          %h2.accordion__header--title 3. Comportamiento Esperado
        .accordion__body
          %ul
            %li • Participa de manera auténtica y activa. Al hacerlo, contribuyes a la salud y la longevidad de esta conferencia.
            %li • Ejercita la consideración y el respeto en tus comunicaciones y acciones.
            %li • Intenta colaborar en lugar de generar conflicto.
            %li • Absténte de adoptar una conducta y un lenguaje degradantes, discriminatorios, abusivos o acosadores.
            %li • Sé consciente de tu entorno y de tus compañeros participantes. Alerta a líderes de la conferencia si notas una situación peligrosa, alguien en apuros, o violaciones de este Código de Conducta, incluso si parecen intrascendentes.

        .accordion__header
          %h2.accordion__header--title 4. Comportamiento Inaceptable
        .accordion__body
          %p Comportamientos inaceptables incluyen: intimidación, acoso, abuso, discriminación, comunicación despectiva o degradante o acciones por cualquier participante en nuestra conferencia ya sea en internet, en todos los eventos relacionados y en las comunicaciones uno-a-uno que se realizan en el contexto de los asuntos de la conferencia. Es posible que los lugares para eventos comunitarios sean de uso compartido con los miembros del público; por favor ser respetuoso con todos aquellos que los frecuentan.

          %p El acoso incluye: comentarios nocivos o perjudiciales, verbales o escritos relacionados con el género, la orientación sexual, raza, religión, discapacidad; uso inadecuado de desnudos y / o imágenes sexuales en espacios públicos (incluyendo la presentación diapositivas); intimidación deliberada, acecho o seguimiento; fotografías o grabaciones acosadoras; interrupción sostenida de charlas y otros eventos; contacto físico inapropiado, y atención sexual no deseada.

        .accordion__header
          %h2.accordion__header--title 5. Consecuencias del Comportamiento Inaceptable
        .accordion__body
          %p El comportamiento inaceptable de cualquier miembro de la conferencia, incluyendo patrocinadores y aquellos con poder de decisión, no será tolerado.

          %p Se espera que personas a quienes se les solicite que detengan su comportamiento inaceptable lo hagan de manera inmediata.

          %p Si un miembro de la conferencia participa en una conducta inaceptable, los organizadores comunitarios pueden tomar cualquier acción que consideren apropiada, hasta e incluyendo una prohibición temporal o expulsión permanente de la conferencia, sin previo aviso (y sin derecho a reembolso en el caso de un evento de pago).

        .accordion__header
          %h2.accordion__header--title 6. Si eres Testigo u Objeto de Comportamiento Inaceptable
        .accordion__body
          %p Si eres víctima o testigo de una conducta inaceptable, o tienes cualquier inquietud, por favor comunícate con un organizador del meetup lo antes posible.

          %p Email: organizers@rubyconf.co

          %p Adicionalmente, los organizadores comunitarios están disponibles para ayudar a miembros de la conferencia a contactar a la policía local o interceder para que víctimas de comportamiento inaceptable se sientan seguros. En el contexto de los eventos en persona, los organizadores también pueden proporcionar escoltas si un miembro de la conferencia lo siente necesario.

        .accordion__header
          %h2.accordion__header--title 7. Políticas de Moderación
        .accordion__body
          %p Estas son las políticas para mantener los estándares de conducta en nuestra conferencia en los canales de chat, meetups asociados, conferencias, grupos de estudio, y eventos virtuales.
          %ul
            %li Palabras que violen las normas de Código de Conducta, incluyendo comentarios odiosos, hirientes, opresivos, o excluyentes, no están permitidos. (Se permite las “malas palabras”, pero nunca enfocadas hacia otro asistente, y nunca de una manera odiosa).
            %li Comentarios que los organizadores encuentran inapropiados tampoco están permitidos, así aparezcan en el código de conducta o no.
            %li Los organizadores primero deberán responder a dichos comentarios con unaadvertencia.
            %li Si la advertencia es ignorada, el usuario/asistente será expulsado del canal para que evalúe su comportamiento, o deberá retirarse del lugar por 30 minutos en caso de eventos presenciales.
            %li Si el usuario/asistente regresa y continúa causando problemas, será expulsado del grupo/evento/lugar/Slack de forma indefinida.
            %li Los organizadores pueden retractar la expulsión a su discreción si esta se trata de una primera infracción y se ha ofrecido una disculpa sincera a quien ofendieron.
            %li Si un organizador expulsa a alguien y usted cree que fue una expulsión sin causa, contacte a ese organizador, o a un organizador diferente <strong>en privado</strong>. Quejas sobre expulsiones en medios abiertos, sociales, u otros canales no son permitidas y conllevaran a más expulsiones.
            %li Los organizadores se rigen por un nivel más alto que otros miembros de la conferencia. Si un organizador crea una situación inadecuada, este será juzgado con un estándar más alto.

          %p En RubyConf Colombia nos esforzamos por ir un paso más allá y cuidar el uno del otro. No se limite a tratar de mostrar su excelencia técnica, trate también de ser la mejor persona posible. En particular, evite tocar temas ofensivos o sensibles, especialmente si están fuera del tema tratado; esto muy a menudo conduce a peleas innecesarias, sentimientos heridos, y a daños en la confianza; peor aún, puede conducir a que personas se alejen de la conferencia en su totalidad.

          %p De la misma forma, si alguien está en desacuerdo con algo que usted dijo o hizo, resista el impulso de estar a la defensiva. Simplemente pare de hacer o decir lo que fuera que causó la queja y pida disculpas. Hay buenas probabilidades de que usted se pudo haber comunicado mejor, incluso si usted siente que fue malinterpretado o injustamente acusado, - recuerde que es su responsabilidad hacer que sus compañeras y compañeros de RubyConf Colombia estén cómodos.

          %p Todo el mundo busca harmonía y todos estamos aquí, ante todo, porque queremos hablar de tecnologías que nos gustan. Por lo general, la gente está dispuesta a asumir buenas intenciones y perdonar, siempre y cuando usted gane su confianza y actúe de forma honrada.

          %a{href: "https://www.rust-lang.org/conduct.html", target: "_blank"} Adaptado de la política de moderación de Rust

        .accordion__header
          %h2.accordion__header--title 8. Alcance
        .accordion__body
          %p Esperamos que todos los participantes de la conferencia (organizadores, voluntarios, conferencistas, instructores, patrocinadores, asistentes, y otros invitados) se atengan a este Código de Conducta en todos los espacios virtuales y presenciales, así como en todas las comunicaciones de uno-a-uno pertinentes a los asuntos de la conferencia.

        .accordion__header
          %h2.accordion__header--title 9. Información de Contacto
        .accordion__body
          %ul
            %li
              %a{:href => "mailto:organizers@rubyconf.co"} Email
            %li
              %a{:href => "https://twitter.com/RubyConfCo"} Cuenta de Twitter
            %li
              %a{:href => "https://DevFestCo.slack.com"} Slack

        .accordion__header
          %h2.accordion__header--title 10. Licencia y Atribución
        .accordion__body
          %p
            Este Código de Conducta se distribuye bajo una licencia
            %a{:href => "http://creativecommons.org/licenses/by-sa/3.0/"} Creative Commons Attribution-ShareAlike license.

          %p
            Revision 2.0, adoptado por el
            %a{:href => "http://stumptownsyndicate.org/"} Stumptown Syndicate
            board Enero 10 de 2013. Publicado en Marzo 17 2013.
