---
title: Embajadores RubyConf Colombia
---
.section.section__accordion
  %div
    .wrapper
      .text--center
        %h1.section_title PROGRAMA DE EMBAJADORES
        %i.icon.icon-ruby-lines.section__title-separator

      %div
        .accordion__header
          %h2.section_title ¡Conviértete en un embajador de la RubyConf Colombia!
        .accordion__body
          %p Hemos creado un programa con el fin de recompensarte por se un miembro activo de nuestra comunidad. Esta conferencia es de la comunidad para la comunidad por esto queremos agradecerte por hacer esto posible y queremos hacerlo bien.

          %p Estos son los beneficios que puede obtener por ser un embajador después de conseguir 6 amigos para comprar entradas para la conferencia:

          %ul
            %li Entrada gratis a la RubyConf Colombia 2015
            %li Un tweet de <a href="http://twitter.com/RubyConfCo">@RubyConfCo</a> y un post en Facebook con un nota de agradecimiento.

          %p Mejor aún, si consigues 12 o más amigos para comprar entradas para la conferencia también serás invitado a la cena con los Speakers, donde podrás conocer a nuestros Speakers antes de que la conferencia comience, la cena va por nuestra cuenta.

        .accordion__header
          %h2.section_title ¿Cómo me convierto en un embajador?
        .accordion__body
          %ol
            %li Envíanos un email a <a href="mailto:organizers@rubyconf.co">organizers@rubyconf.co</a>. Te responderemos con un código de descuento del 20% para tus amigos. Ojo el descuento solo aplica parar la RubyConf Colombia, no para los Bundles.
            %li Comparte el código de descuento con tus amigos e invita a la mayor cantidad posible a comprar entradas para la conferencia.
            %li Obtén tus beneficios y disfrútalos!

        .accordion__header
          %h2.section_title ¿A quién puedo Invitar?
        .accordion__body
          %p Amigos, compañeros de trabajo, contactos y cualquiera que le encantaría ir a la Conferencia.
          %p Si sabes de algún Meetup, listas de correo o comunidades que estén interesados en asistir a la conferencia, nos dices y veremos cómo contactarlos juntos!
