---
title: RubyConf Colombia - Estudiantes
---
.section.section__accordion
  %div
    .wrapper
      %h1.accordion__title Student Tickets

      %div
        .accordion__header.open
          %h2.accordion__header--title ¿Eres estudiante y aún no tienes tu entrada?
        .accordion__body
          %p A partir de mañana 17 de agosto vamos a estar lanzando un grupo de boletas exclusivo para estudiantes con un 30% de descuento:
          %ul
            %li • RubyConf Colombia: US$ <span class="line-through">100</span> 70
          %p La cantidad de entradas para estudiantes es limitada , así que apresúrate a comprar la tuya antes de que se agoten!

        .accordion__header.open
          %h2.accordion__header--title Soy estudiante, ¿cómo hago para obtener mi entrada con descuento?
        .accordion__body
          %ol
            %li Debes llenar este formulario <a href="http://goo.gl/forms/JBJwYo8P1D" target="_blank">http://studentsform.rubyconf.co</a>, con el email de la institución educativa donde estudias (el domininio debe contener .edu)
            %li RubyConf Colombia revisará el email que adjuntaste y verificará que corresponda a una institución educativa.
            %li RubyConf Colombia te enviará a ese correo un link con un código de descuento válido para una sola entrada que te permitirá comprarla con un 30% de descuento!
            %li Compras tu entrada y listo!!!
          %p <strong>IMPORTANTE:</strong> estas entradas no son endosables, es decir solo podrán ser usadas por la persona (estudiante) que las adquirió.
