---
title: RubyConf Colombia - FAQ
---
.section.section__accordion
  %div
    .wrapper
      %h1.accordion__title Frequently Asked Questions

      %div
        .accordion__header
          %h2.accordion__header--title Dates
        .accordion__body
          %h3 Will the RubyConf and JSConf be on the same dates?
          %p Kind of, each event will alternate 1 day of conference, 1 day of workshops.

          %h3 So, what are the dates then?
          %br/
          %p 
            %strong Friday - Oct 16, 2015 
          %ul
            %li RubyConf will have talks
            %li JSConf will have workshops
            
          %p
            %strong Saturday - Oct 17, 2015
          %ul
            %li JSConf will have talks
            %li RubyConf will have workshops

          %h3 Will the conferences be in the same location?
          %p Yes, the conference will be in the main auditorium at Ruta N and workshops will take place in smaller conference rooms on the upper level of Ruta N.

          %h3 Can I attend both events?
          %p Yes, you will need to purchase a bundle ticket.

        .accordion__header
          %h2.accordion__header--title Tickets
        .accordion__body
          %h3 When will tickets go live and how much do they cost?
          %p Early Birds Tickets sold out in almost 2hrs! Regular Tickets are selling out fast, prices are listed below:

          %p
            %strong Early Bird Tickets (Sold Out)

          %p
            %strong Regular 1st Batch (July 1st, 9am COT) (Sold Out)

          %p
            %strong Regular 2nd Batch (August 1st, 9am COT) (Sold Out)

          %p
            %strong Regular 3rd Batch (September 1st, 9am COT) (Sold Out)

          %p
            %strong Late Bird (September 15, 9am COT)

          %h3 Where can I buy the tickets?
          %p 
            You can buy your ticket for RubyConf Colombia
            %a{:href => "https://ti.to/colombia-dev/rubyconf-co-2015"} here.

          %h3 Can I get a refund for my ticket?
          %p We can't reimburse tickets, but will help you transfer them to another attendee.


        .accordion__header
          %h2.accordion__header--title CFP
        .accordion__body
          %p 
            To submit a proposal go to the
            %a{:href => "http://cfp.rubyconf.co/events/cfp-2015"} CFP app

          %p Important:
          %ul
            %li • You can send as many proposals as you want.
            %li • You can submit talks in either English or Spanish (we will have interpreters at the event).
            %li • We will reach out to selected speakers on August 9 via email for confirmation of selection.
            %li • Announcements will be done later via twitter, our newsletter and our website.

          %h3 What do speakers get?
          %ul
            %li • All expenses paid, flights (on a reasonable budget, depending origin), accommodation and daily stipend for food and others.
            %li • If you are a new parent (1 yr old or less), we will do our best to provide transportation and accommodation for your S.O.
            %li • If required, we can make suggestions for child-care and will cover all costs.
            %li • The opportunity to impact the lives of around 200 developers in a developing nation who have had very little chances to attend a software development conference.
            %li • 2 free conference tickets (yourself and a guest). If you have already purchased tickets, we can't reimburse them but will help you transfer them to another attendee.
            %li • Speakers dinner.
            %li • An excellent time in the city of eternal Spring.

          %h3{:id => 'instructors-perks'} What do workshop instructors get?
          %p As much as we would love to, our budget doesn't allow us to cover workshop instructors travel and accommodation costs. We expect most of the workshop instructors to be local to Medellin and Colombia. 

          %p These are the perks we offer:
          %ul
            %li • 2 free conference tickets (yourself and a guest). If you have already purchased tickets, we can't reimburse them but will help you transfer them to another attendee.
            %li • The opportunity to impact the lives of a lot of developers in a developing nation who have had very little chances to attend a software development conference.
            %li • Speakers dinner.
            %li • An excellent time in the city of eternal Spring.

        .accordion__header
          %h2.accordion__header--title Recommendations for visitors from out of town
        .accordion__body
          %p 
            Use 
            %strong RubyCOnfCO
            as a discount code when booking your room to get discounted rates at 
            %a{:href => "http://en.diezhotel.com/"} DiezHotel website,
            which is the conference official hotel.

          %p We are also in the process of creating a guide for local transportation published soon.
