---
title: RubyConf Colombia - Hotels
---
%section.section.section-hotel#hotel
  %div
    .wrapper
      .text--center
        %h1.section__title DIEZ HOTEL
        .details
          %p
            Calle 10A # 34-11
            (57 4) 448 1034
          %p
            DIEZ HOTEL CATEGORÍA COLOMBIA
            Es el primer Hotel temático inspirado en Colombia. Descubre la belleza de la Amazonia, la alegría del Pacifico, la magia de la Orinoquia, los colores del Caribe y la grandeza de la región Andina.
            %br
            %br
          %p
            %b There will be free transportation provided leaving the Diez Hotel to and from RutaN, conference venue, in the morning and evening.
            %br
            %br
          %p
            Use
            %b RubyCOnfCO
            as a discount code when booking your room to get discounted rates
        %br
        %br
        %i.icon.icon-ruby-lines.section__title-separator
      .text--center
        %h3 HOTEL ACQUA EXPRESS
        .details
          %p
            Carrera 35 # 7 - 47
            (57 4) 448 0482
          %p
            %b For reservations email: mercadeo@hotelacqua.com
            %br
            %i Hotel Acqua Express
            COP $129,000 aprox USD $45.00 + taxes and insurance
            %br
            %p
              Other hotels from the same group and street:
            %br
            %i
              Hotel Natura Express
            COP $99,000 aprox. USD$35.00 + taxes and insurance
            %i
              Hotel Poblado Express
            COP $109,000 aprox. USD $40.00 + taxes and insurance
            %br
            %br
            %b
              There will be free transportation provided leaving the Diez Hotel (5 minute walk from Acqua) to and from RutaN, conference venue, in the morning and evening.
            %br
            %br
            %b Tip:
            If you are a foreigner or non-resident colombian, you are exempt from paying 16% VAT (Taxes) charged on hotel stay. You should not be charged VAT on your hotel night, and please make sure when check in this is referenced.
            %br
            %br
            If you have any further hotel questions, email us at organizers@rubyconf.co. See you soon!
            %br

        %br
        %br
        %i.icon.icon-ruby-lines.section__title-separator
      .text--center
        %h3 TIGER PAW HOSTEL
        .details
          %p
            Carrera 36 # 10 - 49
            (57 4) 311 6079
            %br
          %p
            There will be free transportation provided leaving the
            %i Diez Hotel
            (1 minute walk from Tiger Paw) to and from RutaN, conference venue, in the morning and evening.
            %br
            %br
            If you prefer a quiet setting, ask for a room in the back. 

        %br
        %br
        %i.icon.icon-ruby-lines.section__title-separator
      .text--center
        %h3 SAMAN HOSTEL
        .details
          %p
            Calle 10 # 36 - 2
            (57 4) 581 8908
          %p
            There will be free transportation provided leaving the Diez Hotel (3 minute walk from Saman) to and from RutaN, conference venue, in the morning and evening.
          %br
          If you prefer a quiet setting, ask for a room in the back. 

        %br
        %br
        %i.icon.icon-ruby-lines.section__title-separator
      .text--center
        %h3 HOTEL POBLADO BOUTIQUE EXPRESS
        .details
          %p
            Carrera 34 # 7 - 123
            (57 4) 448 0884
          %p
            %b For reservations email: mercadeo@hotelacqua.com
          %br
          %i Hotel Poblado Express
          COP $109,000 (aprox. USD $40.00) + taxes and insurance
          %br
          Other hotels from the same group and street:
          %br
          %br
          Hotel Natura Express COP $99,000 (aprox. USD$35.00) + taxes and insurance
          Hotel Acqua Express COP $129,000 (aprox USD $45.00) + taxes and insurance
          %br
          There will be free transportation provided leaving the Diez Hotel (5 minute walk from Poblado Boutique) to and from RutaN, conference venue, in the morning and evening.
          %br
          %br
          %b Tip:
          If you are a foreigner or non-resident colombian, you are exempt from paying 16% VAT (Taxes) charged on hotel stay. You should not be charged VAT on your hotel night, and please make sure when check in this is referenced.
          %br
          If you have any further hotel questions, email us at organizers@rubyconf.co. See you soon!

        %br
        %br
        %i.icon.icon-ruby-lines.section__title-separator
      .text--center
        %h3 HOTEL NATURA EXPRESS
        .details
          %p
            Carrera 35 # 7 - 58
            (57 4) 448 9882
          %p
            %b For reservations email: mercadeo@hotelacqua.com
          %br
            %i Hotel Natura Express
            COP $99,000 (aprox. USD$35.00) + taxes and insurance
          %br
          Other hotels from the same group and street:
          %br
          Hotel Poblado Express COP $109,000 (aprox. USD $40.00) + taxes and insurance
          Hotel Acqua Express COP $129,000 (aprox USD $45.00) + taxes and insurance
          %br
          There will be free transportation provided leaving the Diez Hotel (5 minute walk from Natura) to and from RutaN, conference venue, in the morning and evening.
          %br
          %b Tip:
          If you are a foreigner or non-resident colombian, you are exempt from paying 16% VAT (Taxes) charged on hotel stay. You should not be charged VAT on your hotel night, and please make sure when check in this is referenced.
          %br
          If you have any further hotel questions, email us at organizers@rubyconf.co. See you soon!
