---
title: RubyConf Colombia - Hotels
---
%section.section.section-hotel#hotel
  %div
    .wrapper
      .text--center
        %h1.section__title HOTELS
        %h3 
          DIEZ HOTEL
        %i.icon.icon-ruby-lines.section__title-separator
      .text--left
        .details
          %p
            Calle 10A # 34-11
            (57 4) 448 1034
          %p
            Diez Hotel Categoria Colombia has become the best service provider Accommodation and Food and a hotel infrastructure, inspired by Colombia and its regions, created to satisfy the senses and the needs of its customers with quality, based on the continuous improvement of their processes to generate high returns for its investors and contributing to the development of the hotel sector.
            %br
            %br
          %p
            %b 
              There will be free transportation provided leaving the 
              %a{:href => "http://www.tripadvisor.com/Hotel_Review-g297478-d1902691-Reviews-Diez_Hotel_Categoria_Colombia-Medellin_Antioquia_Department.html", :target => "_blank"} Diez Hotel 
              to and from RutaN, conference venue, in the morning and evening.
            %br
            %br
          %p
            Use
            %b RubyCOnfCO
            as a discount code when booking your room to get discounted rates.
          %a.btn.btn--alternative{href: "http://en.diezhotel.com/", target: '_blank'} More info
          %br

        %br
        %br
      .text--center
        %h3 
          HOTEL ACQUA EXPRESS
        %i.icon.icon-ruby-lines.section__title-separator
      .text--left
        .details
          %p
            Carrera 35 # 7 - 47
            (57 4) 448 0482
          %p
            %b 
              For reservations email: 
              %a{:href => "mailto:mercadeo@hotelacqua.com"} mercadeo@hotelacqua.com.
            %br
            %br

            %b
              There will be free transportation provided leaving the Diez Hotel (5 minute walk from Acqua) to and from RutaN, conference venue, in the morning and evening.
            %br
          %a.btn.btn--alternative{:href => "http://www.tripadvisor.com/Hotel_Review-g297478-d2408655-Reviews-Hotel_Acqua_Express-Medellin_Antioquia_Department.html", :target => "_blank"} More info

        %br
        %br
        %br
      .text--center
        %h3 
          TIGER PAW HOSTEL
        %i.icon.icon-ruby-lines.section__title-separator
      .text--left
        .details
          %p
            Carrera 36 # 10 - 49
            (57 4) 311 6079
            %br
            %br
            If you prefer a quiet setting, ask for a room in the back. 
          %p
            %b
              There will be free transportation provided leaving the Diez Hotel (5 minute walk from Acqua) to and from RutaN, conference venue, in the morning and evening.
            %br
          %a.btn.btn--alternative{:href => "ihttp://www.tripadvisor.com/Hotel_Review-g297478-d1048243-Reviews-Tiger_Paw_Hostel-Medellin_Antioquia_Department.html", :target => "_blank"} More info

        %br
        %br
        %br
      .text--center
        %h3 
          SAMAN HOSTEL
        %i.icon.icon-ruby-lines.section__title-separator
      .text--left
        .details
          %p
            Calle 10 # 36 - 2
            (57 4) 581 8908
          %br
          %b There will be free transportation provided leaving the Diez Hotel (3 minute walk from Saman) to and from RutaN, conference venue, in the morning and evening.
          %br
          %a.btn.btn--alternative{:href => "http://www.tripadvisor.com/Hotel_Review-g297478-d1972387-Reviews-Saman_Hostel_Medellin-Medellin_Antioquia_Department.html", :target => "_blank"} More info

        %br
        %br
        %br
      .text--center
        %h3 
          HOTEL POBLADO BOUTIQUE EXPRESS
        %i.icon.icon-ruby-lines.section__title-separator
      .text--left
        .details
          %p
            Carrera 34 # 7 - 123
            (57 4) 448 0884
          %br
          %p COP $109,000 (aprox. USD $40.00) + taxes and insurance
          %br
          %b There will be free transportation provided leaving the Diez Hotel (5 minute walk from Poblado Boutique) to and from RutaN, conference venue, in the morning and evening.
          %br
          %a.btn.btn--alternative{:href => "http://www.tripadvisor.com/Hotel_Review-g297478-d1892576-Reviews-Hotel_Poblado_Boutique_Express-Medellin_Antioquia_Department.html", :target => "_blank"} More info

        %br
        %br
      .text--center
        %h3 
          HOTEL NATURA EXPRESS
        %i.icon.icon-ruby-lines.section__title-separator
      .text--left
        .details
          %p
            Carrera 35 # 7 - 58
            (57 4) 448 9882
          %br

          %p COP $99,000 (aprox. USD$35.00) + taxes and insurance
          %br
          %b There will be free transportation provided leaving the Diez Hotel (5 minute walk from Natura) to and from RutaN, conference venue, in the morning and evening.
          %br
          %a.btn.btn--alternative{:href => "http://www.tripadvisor.com/Hotel_Review-g297478-d3605061-Reviews-Hotel_Natura_Express-Medellin_Antioquia_Department.html", :target => "_blank"} More info
          %br
          %br

        %p
          %b 
            If you have any further hotel questions, email us at 
            %a{:href => "mailto:organizers@rubyconf.co"} organizers@rubyconf.co. 
            See you soon!
          
          %br
          %br
          %b Tip:
          If you are a foreigner or non-resident colombian, you are exempt from paying 16% VAT (Taxes) charged on hotel stay. You should not be charged VAT on your hotel night, and please make sure when check in this is referenced.
          %br
          %br
