---
title: RubyConf Colombia - Medellin
---
%section.section.section-medellin#medellin
  %div
    .wrapper
      .text--center
        %h1.section__title Medellín will host RubyConf Colombia 2015
        .details
          %p
            Medellín is the second largest city in
            %a{:href => "http://wikitravel.org/en/Colombia", :target => "_blank"} Colombia.
            It has over 3 million people and is the capital of the department of
            %a{:href => "http://wikitravel.org/en/Antioquia", :target => "_blank"} Antioquia.
            The weather in Medellín is considered to be mild, hence it being known as the 'City of everlasting spring'. Average daily temperatures are 22ºC (71ºF) , range from 15 to 30 degrees Celsius (60º-85ºF).
            %br
            %br
          %i.icon.icon-ruby-lines.section__title-separator
          %h3
            Airports
          %p
            Medellin has two main airports - Jose Maria Cordova International Airport and Enrique Olaya Herrera Airport.
            %br
            %li The international airport (Jose Maria Cordova) is located about 29km from Medellin in Rionegro.
            %li The local airport (Enrique Olaya Herrera) is located within the city although only small regional flights depart/land from there.
            %br
            %br
          %i.icon.icon-ruby-lines.section__title-separator
          %h3
            Getting from Jose Maria Cordova airport to the city
          %p
            1. Taxis - You will see blue and white taxis located outside the doors when you exit the airport. Although all taxis in Medellin use taxi-meters, the ride to/from the airport is fixed at $60.000COP or a bit more depending on which part of the city your are going to. However, just to be on the safe side, make sure to ask the taxi driver the price before leaving the airport.
            %br
            2. Colectivos (small buses) - These are shared taxis or mini-buses also located just outside when you exit. Colectivos cost $15.000 COP per person from the airport to El Poblado.
            %br
            %b Note:
            Colectivos will NOT drop you off directly at your destination. Instead they will drop you in front of San Diego Mall. We suggest taking a taxi from this point to your destination.
            %br
            %br
          %i.icon.icon-ruby-lines.section__title-separator
          %h3
            Getting around the city
          %p
            %b 1. Taxi -
            The fastest and most convenient way is to take a taxi. These taxis are yellow and legally must charge you based on the reading on the taxi meter, so there is no need to negotiate your fare. We recommend that you get a cab using any of the available apps:
            %br
            %li
              %a{:href => "https://tappsi.co/", :target => "_blank"} Tappsi
            %li
              %a{:href => "http://www.easytaxi.com/co/", :target => "_blank"} Easy Taxi
            %li
              %a{:href => "http://es.citytaxiapp.com/", :target => "_blank"} CityTaxi
            %li Have your hotel call a taxi
          %p
            %b
              %a{:href => "https://www.metrodemedellin.gov.co/", :target => "_blank"} 2. Metro -
            Traveling through the city is easy and quick, with the Metro system. It has
            %a{:href => "https://www.metrodemedellin.gov.co/Portals/4/Images/Viajeconnosotros/mapa-esquematico_grande.jpg", :target => "_blank"} 2 Metro lines
            (train) and is connected to 2 Metrocable lines (cable cars).
            %br
            %li There are integrated
            %a{:href => "https://www.metrodemedellin.gov.co/Portals/4/mapLines/", :target => "_blank"} bus routes
            which will drop you at a Metro station.
            %li The closest station to the conference venue is Universidad on line A, which will drop you at 5 minute walk to the venue.
          %p
            %b 3.
            Uber also works in Medellin.
            %br
            %br
          %i.icon.icon-ruby-lines.section__title-separator
          %h3
            Coffee shops and co-working spaces
          %p
            The best coffeeshops and co-working spaces are located around the Poblado area, these are some you might want to check out:
            %br
            %li
              %a{:href => "http://cafevelvet.co/", :target => "_blank"} Velvet
            %li
              %a{:href => "https://www.pergamino.co/", :target => "_blank"} Pergamino
            %li
              %a{:href => "http://juanvaldezcafe.com/es/store-locator?country=co", :target => "_blank"} Any Juan Valdez
            %li
              %a{:href => "http://coworking.laneros.com/", :target => "_blank"} Laneros
            %li
              %a{:href => "http://www.epicentro.com.co/", :target => "_blank"} Epicentro
            %li
              %a{:href => "http://atomhouse.com/en/atomhouse-medellin/", :target => "_blank"} Atom House
            %br
            %br
          %i.icon.icon-ruby-lines.section__title-separator
          %h3
            The venue
          %p
            The conference will be held at
            %a{:href => "https://www.google.com/maps/place/6%C2%B015'55.5%22N+75%C2%B034'00.5%22W/@6.26541,-75.5668,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0", :target => "_blank"} Complejo Ruta N, Calle 67 Nº 52-20
            which is easily accessible by taxi, bus and a 5 minute walk away from Universidad Metro station.
            %br
            The are a
            %a{:href => "https://es.foursquare.com/explore?mode=url&ne=6.268248%2C-75.563187&q=Comida&sw=6.262276%2C-75.569603", :target => "_blank"} bunch of restaurants
            that are part of Ruta N's complex or short walking distance in which you will be able to find lunch.
            %br
            %br
          %i.icon.icon-ruby-lines.section__title-separator
          %h3
            Hotels
          %p
            Check the
            %a{:href => "http://www.rubyconf.co/hotels.html", :target => "_blank"} hotels page on our conference website
            for more detailed information about our recommended hotels. You can also find some great places to stay on
            %a{:href => "http://www.booking.com/searchresults.en-gb.html?src=index&nflt=&ss_raw=medellin&error_url=http%3A%2F%2Fwww.booking.com%2Findex.en-gb.html%3Fsid%3D40d1d551f21b1c14423a20e46e8edff7%3Bdcid%3D1%3Bbb_ltbi%3D0%3Bsb_price_type%3Dtotal%26%3B&dcid=1&lang=en-gb&sid=40d1d551f21b1c14423a20e46e8edff7&si=ai%2Cco%2Cci%2Cre%2Cdi&ss=Medell%C3%ADn%2C+Antioquia%2C+Colombia&checkin_monthday=15&checkin_year_month=2015-10&checkout_monthday=18&checkout_year_month=2015-10&no_rooms=1&group_adults=1&group_children=0&dest_type=city&dest_id=-592318&ac_pageview_id=1e879a436bd200db&ac_position=0&ac_langcode=en&ac_suggestion_list_length=5&place_types=", :target => "_blank"} Booking.com
            and
            %a{:href => "https://www.airbnb.com.co/s/Medell%C3%ADn--Antioquia--Colombia?checkin=15%2F10%2F2015&checkout=18%2F10%2F2015&guests=&source=bb&ss_id=5z1yikgt", :target => "_blank"} Airbnb.
