---
title: RubyConf Colombia - Mentores RubyConf Colombia
---
.section.section__accordion
  %div
    .wrapper
      .text--center
        %h1.section_title PROGRAMA MENTORES RUBYCONF COLOMBIA
        %i.icon.icon-ruby-lines.section__title-separator

      %div
        .accordion__body.diversity
          %p
            Queremos invitarte a que participes en el Programa de Mentores RubyConf Colombia. El objetivo de esta iniciativa es brindarle a nuestros becarios de diversidad la oportunidad de conectarse e interactuar con la comunidad durante el evento. Estamos buscando personas que estén dispuestas a ofrecer una guía o acompañamiento a estas personas.


          %p 
            Cada mentor puede decidir que cantidad de tiempo puede ofrecer para el becado, no se espera que estén con ellos durante todo el evento, con una que otra conversación podría ser suficiente.

          %p
            Podemos contar con tu ayuda? Si te interesa compartir tu conocimiento ayudando inscríbete en el siguiente formulario

          .diversity
            %button.btn.btn--alternative
              %a{:href => 'http://goo.gl/forms/WWs6E1gFN2', :target =>"_blank" } Inscribete aqui!
